.footer{
  border-top: 1px solid #d8d8d8;
  background-color: #eef1f5;
  padding: 32px 0 19px;
  overflow: hidden;

  &__copyright{
    color: #9aa1ab;
  }

  &__logo{
    @include mq(767, max) {
      display: none;
    }
  }

  &__soc{
    @extend %l_flex--column-end;
    &-link{
      margin: 0 16px 9px;
      transition: .3s;
      &:hover{
        opacity: .8;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

  &__nav{
    &-list{
      padding: 3px 8px 0;
    }
    &-item{
      color: #38393c;
      &:hover{
        color: #0eb955;
      }
    }
  }

  &__partner{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(768){
      align-items: flex-end;
    }
    &-title{
      margin: 0;
      color: #6d7d9a;
    }
    &-logo{
      //width: 115px;
      //height: 15px;
      width: 209px;
      height: 28px;
      margin-top: 12px;
      &:hover{
        opacity: .7;
      }
    }
  }
  @media (min-width: 768px){
    padding: 35px 10px 19px;
    &__soc {
      //@extend .l_flex--justify-center;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      &-link {
        margin: 0 16px;
      }
    }
    &__nav{
      &-list{
        padding: 3px 12px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &-item {
        margin-right: 27px;
      }
    }
    &__copyright {
      padding: 3px 0 0 8px;
    }
  }
  @media (min-width: 1024px) {
    &__nav {
      &-list {
        justify-content: flex-end;
      }
      &-item {
        margin-left: 27px;
        margin-right: 0;
      }
    }
    &__soc{
      justify-content: center;
    }
  }


  @media (max-width: 767px) {
    &__copyright{
      padding: 13px 0 24px;
      text-align: center;
      &-col{
        order: 3;
        flex: 0 1 100%;
        max-width: 100%;
      }
    }
    &__nav{
      &-col{
        order: 1;
        flex: 0 1 50%;
        max-width: 50%;
      }
      &-item{
        padding-bottom: 8px;
        @include font-size(14);
      }
    }
    &__soc{
      padding: 5px 0 0;
      &-col{
        order: 2;
        flex: 0 1 50%;
        max-width: 50%;
      }
    }
  }
}