.footer{
  border-top: 1px solid #d8d8d8;
  background-color: #eef1f5;
  padding: 35px 0 19px;
  overflow: hidden;

  &__copyright{
    color: #9aa1ab;
    padding: 3px 0 0 8px;
  }

  &__soc{
   @extend %l_flex--justify-center;
    &-link{
      margin: 0 16px;
      transition: .3s;
      &:hover{
        opacity: .8;
      }
    }
  }

  &__nav{
    &-list{
      @extend %l_flex--align-center;
      @extend %l_justify-content--flex-end;
      padding: 3px 12px 0;
    }
    &-item{
      color: #38393c;
      margin-left: 27px;
      transition: .3s;
      &:hover{
        opacity: .8;
      }
    }
  }
}