.btn{
  font-weight: $weight-bold;
  color: #fff;
  background-image: linear-gradient(to top, #0eb955 0%, #5bd488 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: .3s;
  &:hover{
    background: linear-gradient(to top, #0eb955 0%, #0eb955 100%);
  }
  &_default{
    width: 165px;
    height: 45px;
    border-radius: 8px;
  }
  &_mob{
    width: 99px;
    height: 29px;
    @include font-size(10);
    border-radius: 4px;
  }
}

.link-doc{
  @include font-size(14);
  letter-spacing: 0.05px;
  margin: 0 0 0 20px;
  border-bottom: 1px solid;
  position: relative;
  transition: .3s;
  &:before{
    content: '';
    @extend .i-doc-icon;
    position: absolute;
    top: 0;
    left: -20px;
  }
  &:hover{
    border-bottom-color: transparent;
  }
  @media (min-width: 768px) {
    margin: 0 0 0 23px;
  }
}

.slick-arrow{
  text-indent: -10000px;
  @extend .i-dropdown;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
  transition: .3s;
  &.slick-prev{
  }
  &.slick-next{
    transform: rotate(180deg);
  }
  &.slick-disabled{
    opacity: 0;
  }
}