/*.btn{
  font-weight: $weight-bold;
  color: #fff;
  background-image: linear-gradient(to top, #0eb955 0%, #5bd488 100%);
  text-align: center;
  border-radius: 8px;
  transition: .3s;
  &:hover{
    background: linear-gradient(to top, #0eb955 0%, #0eb955 100%);
  }
  &_default{
    width: 165px;
    height: 45px;
    border-radius: 8px;
  }
  &_mob{
    width: 99px;
    height: 29px;
    @include font-size(10);
    border-radius: 4px;
  }
}*/
.btn{
  font-weight: $weight-bold;
  text-align: center;
  border-radius: 5px;
  transition: all .3s linear;
  border: 1px solid #13bb58;
  width: 118px;
  height: 32px;
  color: #13bb58;
  overflow: hidden;
  //background: none;
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after,
  &:before{
    background: #fff;
    content: '';
    position: absolute;
    z-index: 1;
  }
  @include mq(768){
    width: 165px;
    height: 45px;
    @include font-size(16);
  }
  @include mq(768, max){
    @include font-size(12);
  }
  &_default{
    &:after{
      transition: all 0.3s;
      height: 100%;
      left: -35%;
      top: 0;
      transform: skew(50deg);
      transition-duration: 0.6s;
      transform-origin: top left;
      width: 0;
      background-image: linear-gradient(to top, #3ac153 0%, #65e67e 100%);
    }
    &:hover{
      border-color: #65e67e;
      color: #fff;
      &:after{
        height: 100%;
        width: 135%;
      }
    }
  }
  &_green{
    color: #fff;
    background-image: linear-gradient(to top, #0eb955 0%, #5bd488 100%);
    transition: all .3s;
    //background: red;
    /*&:after{
      transition: all 0.3s;
      left: -35%;
      top: 0;
      transform: skew(50deg);
      transition-duration: 0.6s;
      transform-origin: top left;
      width: 135%;
      height: 100%;
      //background: #3FC85A;
      background: linear-gradient(to top, #0eb955 0%, #5bd488 100%);
    }*/
    &:hover{
      //color: #13bb58;
      //background: #3FC85A;
      border-color: transparent;
      background-image: linear-gradient(to top, #3ac153 0%, #65e67e 100%)
      /*&:after{
        width: 0%;
      }*/
    }
  }
  &_large{
    width: 262px;
  }
  &.btn_desktop{
    @include mq(992, max){
      display: none;
    }
  }
}
a.btn{
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: table;
  line-height: 1.5;
  span{
    display: table-cell;
    vertical-align: middle;
  }*/
}

.link-doc{
  @include font-size(14);
  letter-spacing: 0.05px;
  margin: 0 0 0 20px;
  border-bottom: 1px solid;
  position: relative;
  transition: .3s;
  line-height: 1.3;
  &:before{
    content: '';
    @extend .i-doc-icon;
    position: absolute;
    top: 0;
    left: -20px;
  }
  &:hover{
    border-bottom-color: transparent;
  }
  @media (min-width: 768px) {
    margin: 0 0 0 23px;
  }
}
.dropdown-icon{
  @extend .i-dropdown;
}

/*.btn_h {
  overflow: hidden;
  background: none;
  position: relative;
  &:after,
  &:before{
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
  }
  &:after{
    transition: all 0.3s;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
    background-image: linear-gradient(0deg, #21A357 0%, #5BD488 100%);
  }
  &:hover{
    color: #fff;
    &:after{
      height: 100%;
      width: 135%;
    }
  }
}*/

/**
это на незалитом

background-image: linear-gradient(0deg, #21A357 0%, #5BD488 100%);
border-radius: 5px;

это градиент для ховера залитой кнопки (контрибьют которая)

background: #3FC85A ;
border: 1px solid #13BB58 ;
border-radius: 5px;

Это для анимации заливки ( как в референсе )
 */