.subscribe-form{
  display: none;
  @media screen and (min-width: 1024px){
    width: 450px;
    height: 45px;
    border: 1px solid #f0f2f4;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    transition: 1s 2s;
    &__input{
      background:transparent;
      @include font-size(14);
      border: none;
      padding:0 20px;
      width: calc(100% - 165px);
    }
    &__submit{
      @include font-size(16);
    }
  }
}