%svg-common {
	background: url("svg-sprite-f04f1ca3.svg") no-repeat;
}

.i-doc-icon {
	@extend %svg-common;
	background-position: 0 0;
	width: 14px;
	height: 18px;
}

.i-dropdown {
	@extend %svg-common;
	background-position: 0 100%;
	width: 32px;
	height: 32px;
}

