.footer
  .container
    .row.footer__row
      .col-lg-4.footer__copyright-col
        p.footer__copyright © Betex. All Rights Reserved.
      .col-lg-4.footer__soc-col
        ul.footer__soc
          li.footer__soc-link
            a(href="#", target="_blank", rel="nofollow")
              svg(width="26px", height="26px")
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#linkedin")
          li.footer__soc-link
            a(href="#", target="_blank", rel="nofollow")
              svg(width="30px", height="26px")
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#git")
          li.footer__soc-link
            a(href="#", target="_blank", rel="nofollow")
              svg(width="32px", height="26px")
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#pinterest")
      .col-lg-4.footer__nav-col
        nav.footer__nav
          ul.footer__nav-list
            li.footer__nav-item
              a(href="#") Contact Us
            li.footer__nav-item
              a(href="#") FAQ
            li.footer__nav-item
              a(href="#") Terms
            li.footer__nav-item
              a(href="#") Press
