-
  var nav = {
    'Business Model' :'business-model',
    'Roadmap' :       'roadmap',
    'Token Sale' :    'token-sale',
    'MVP' :           'mvp',
    'Team' :      'team',
    'Contacts' :      'contacts'
  },

  mobNav = {
    'Home'           :'top',
    'Business Model' :'business-model',
    'Roadmap' :       'roadmap',
    'Token Sale' :    'token-sale',
    'MVP' :           'mvp',
    'Team' :      'team',
    'Contacts' :      'contacts'
  }


header.header
  .container
    .row
      .col-lg-2.header__logo-col
        a(href="/").header__logo
          svg.header__logo-svg(viewbox='0 0 117 40', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            defs
              lineargradient#linearGradient-1(x1='50%', y1='0%', x2='50%', y2='100%')
                stop(stop-color='#0EB955', offset='0%')
                stop(stop-color='#5BD488', offset='100%')
              lineargradient#linearGradient-2(x1='50%', y1='107.692544%', x2='50%', y2='5.67038378%')
                stop(stop-color='#FD1F1E', offset='0%')
                stop(stop-color='#FF6530', offset='100%')
            g#Desktop(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Landing-Updated-6-Copy-6(transform='translate(-162.000000, -32.000000)')
                g#2(transform='translate(162.000000, 32.000000)')
                  path#Betex(d='M55.776,11.68 L62.184,11.68 C63.8800085,11.68 65.1519958,12.0199966 66,12.7 C66.8480042,13.3800034 67.272,14.4799924 67.272,16 C67.272,16.9120046 67.1360014,17.6359973 66.864,18.172 C66.5919986,18.7080027 66.1280033,19.1839979 65.472,19.6 C66.1920036,19.9040015 66.7239983,20.3439971 67.068,20.92 C67.4120017,21.4960029 67.584,22.2959949 67.584,23.32 C67.584,24.9040079 67.1200046,26.0799962 66.192,26.848 C65.2639954,27.6160038 63.9600084,28 62.28,28 L55.776,28 L55.776,11.68 Z M62.112,21.184 L59.088,21.184 L59.088,25.168 L62.112,25.168 C62.8320036,25.168 63.3639983,25.0240014 63.708,24.736 C64.0520017,24.4479986 64.224,23.9200038 64.224,23.152 C64.224,21.8399934 63.520007,21.184 62.112,21.184 Z M62.016,14.512 L59.088,14.512 L59.088,18.4 L62.04,18.4 C63.2880062,18.4 63.912,17.7520065 63.912,16.456 C63.912,15.1599935 63.2800063,14.512 62.016,14.512 Z M74.252,24.964 C74.6280019,25.2920016 75.1679965,25.456 75.872,25.456 C77.3600075,25.456 78.6879942,25.4080005 79.856,25.312 L80.5,25.24 L80.5,27.928 C78.6599908,28.3760022 77.0720075,28.288 75.584,28.288 C73.775991,28.288 72.4640041,27.8080048 71.648,26.848 C70.8319959,25.8879952 70.424,24.3280108 70.424,22.168 C70.424,17.8639785 72.1919823,15.712 75.728,15.712 C79.2160175,15.712 80.72,17.3839819 80.72,21 L80.72,23.368 L73.664,23.368 C73.6800001,24.1040037 73.8759981,24.6359984 74.252,24.964 Z M77.792,20.92 C77.792,19.9599952 77.6400015,19.2920019 77.336,18.916 C77.0319985,18.5399981 76.5000038,18.352 75.74,18.352 C74.9799962,18.352 74.4440016,18.547998 74.132,18.94 C73.8199985,19.332002 73.6560001,19.9919954 73.64,20.92 L77.792,20.92 Z M97.252,24.964 C97.6280019,25.2920016 98.1679965,25.456 98.872,25.456 C100.360007,25.456 101.687994,25.4080005 102.856,25.312 L103.5,25.24 L103.5,27.928 C101.659991,28.3760022 100.072007,28.288 98.584,28.288 C96.775991,28.288 95.4640041,27.8080048 94.648,26.848 C93.8319959,25.8879952 93.424,24.3280108 93.424,22.168 C93.424,17.8639785 95.1919823,15.712 98.728,15.712 C102.216017,15.712 103.72,17.3839819 103.72,21 L103.72,23.368 L96.664,23.368 C96.6800001,24.1040037 96.8759981,24.6359984 97.252,24.964 Z M100.792,20.92 C100.792,19.9599952 100.640002,19.2920019 100.336,18.916 C100.031998,18.5399981 99.5000038,18.352 98.74,18.352 C97.9799962,18.352 97.4440016,18.547998 97.132,18.94 C96.8199985,19.332002 96.6560001,19.9919954 96.64,20.92 L100.792,20.92 Z M90.832,18.736 L87.88,18.736 L87.88,23.656 C87.88,24.1360024 87.8919999,24.475999 87.916,24.676 C87.9400002,24.876001 88.0279993,25.0479993 88.18,25.192 C88.3320008,25.3360007 88.5679984,25.408 88.888,25.408 L90.712,25.36 L90.856,27.928 C89.7839947,28.1680012 88.9680028,28.288 88.408,28.288 C86.9679928,28.288 85.9840027,27.9640032 85.456,27.316 C84.9279974,26.6679968 84.664,25.4720087 84.664,23.728 L84.664,18.736 L83.248,18.736 L83.248,16 L84.664,16 L84.664,12.664 L87.88,12.664 L87.88,16 L90.832,16 L90.832,18.736 Z M105.848,16 L109.28,16 L111.2,19.72 L113.144,16 L116.576,16 L113.168,21.88 L116.576,28 L113.144,28 L111.2,24.328 L109.28,28 L105.848,28 L109.136,21.976 L105.848,16 Z', fill='#000000')
                  g
                    path#Fill-1(d='M21.554,0.0008 L21.554,5.6498 L43.108,16.7738 L43.108,11.1238 L21.554,0.0008 Z M21.554,0.0008 L0,11.1238 L0,16.7738 L21.554,5.6498 L21.554,0.0008 Z M21.554,11.2988 L43.108,22.4228 L43.108,16.7738 L21.554,5.6498 L21.554,11.2988 Z M21.554,5.6498 L0,16.7738 L0,22.4228 L21.554,11.2988 L21.554,5.6498 Z M21.554,16.9468 L43.108,28.0718 L43.108,22.4228 L21.554,11.2988 L21.554,16.9468 Z M21.554,11.2988 L0,22.4228 L0,28.0718 L21.554,16.9468 L21.554,11.2988 Z', fill='url(#linearGradient-1)')
                    path#Fill-3(d='M21.554,22.4228 L43.108,11.2988 L43.108,16.9468 L21.554,28.0718 L21.554,22.4228 Z M0,16.9468 L0,11.2988 L21.554,22.4228 L21.554,28.0718 L0,16.9468 Z M43.108,16.9468 L43.108,22.5968 L21.554,33.7218 L21.554,28.0718 L43.108,16.9468 Z M0,22.5968 L0,16.9468 L21.554,28.0718 L21.554,33.7218 L0,22.5968 Z M43.108,22.5968 L43.108,28.2458 L21.554,39.3708 L21.554,33.7218 L43.108,22.5968 Z M0,28.2458 L0,22.5968 L21.554,33.7218 L21.554,39.3708 L0,28.2458 Z', fill='url(#linearGradient-2)', style='mix-blend-mode: multiply;')
        //a(href="#", onclick="gtag('event', 'contribute', {'event_category': 'email', 'event_action': 'open'}); return true").header__btn.btn.btn_mob.btn_desktop.contribute-open Contribute
        .header__burger
          span
          span
          span
      .col-lg-10.header__nav-col
        nav.nav
          ul.nav__list
            each item, key in nav
              li.nav__list-item
                a(href="#" + item)=key

  .mob-menu
    .mob-menu__close
    .mob-menu__wrap
      nav.mob-nav
        ul.mob-menu__nav
          each item, key in mobNav
            li.mob-menu__nav-item
                a(href="#" + item)=key
      .mob-menu__btn-title Join to crowdsale
      a(href="#").mob-menu__btn.btn.btn_green.contribute-open Contribute

      .mob-menu__links
        a(href="./betex-wp.pdf", target="_blank", rel="nofollow", onclick="gtag('event', 'Whitepaper', {'event_category': 'Whitepaper', 'event_action': 'button'});").mob-menu__link.link-doc Whitepaper
        //a(href="./go-pro.pdf", target="_blank", rel="nofollow").mob-menu__link.link-doc Terms of Tokens Sale

  .contribute-popup
    .contribute-popup__wrap
      .contribute-popup__close
      p.contribute-popup__title.title-line Contribute

      p.contribute-popup__sub-title Leave your email to get more information and news about Betex ICO
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='https://betexlab.us17.list-manage.com/subscribe/post?u=ce2f1a570b79c42d276394303&id=c79a7c3818', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            //label(for='mce-EMAIL') Subscribe to our mailing list
            input#mce-EMAIL.email.contribute-popup__email(type='email', value='', name='EMAIL', placeholder='email address', required='')
            div(style='position: absolute; left: -5000px;', aria-hidden='true')
              input(type='text', name='b_ce2f1a570b79c42d276394303_c79a7c3818', tabindex='-1', value='')
            .clear
              input#mc-embedded-subscribe.button.contribute-popup__submit.btn.btn_green(type='submit', value='Subscribe', name='subscribe', onclick="gtag('event', 'Subscribe', {'event_category': 'Subscribe', 'event_action': 'button'});")
      //#mc_embed_signup
        form(action="https://betexlab.us17.list-manage.com/subscribe/post?u=ce2f1a570b79c42d276394303&amp;id=c79a7c3818", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
          #mc_embed_signup_scroll.contribute-popup__form
            input(type="text",placeholder="email").contribute-popup__email
            input(type="submit", value="Subscribe").contribute-popup__submit.btn
      .contribute-popup__links
        a(href="./betex-wp.pdf", target="_blank", rel="nofollow" onclick="gtag('event', 'Whitepaper', {'event_category': 'Whitepaper', 'event_action': 'button'});").contribute-popup__link.link-doc Whitepaper
        //a(href="./go-pro.pdf", target="_blank", rel="nofollow").contribute-popup__link.link-doc Terms of Tokens Sale
  .contribute-full-popup#contribute-full-popup
    .contribute-full-popup__header
      a(href="").header__logo.contribute-full-popup_close
        svg.header__logo-svg(viewbox='0 0 117 40', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          defs
            lineargradient#linearGradient-1(x1='50%', y1='0%', x2='50%', y2='100%')
              stop(stop-color='#0EB955', offset='0%')
              stop(stop-color='#5BD488', offset='100%')
            lineargradient#linearGradient-2(x1='50%', y1='107.692544%', x2='50%', y2='5.67038378%')
              stop(stop-color='#FD1F1E', offset='0%')
              stop(stop-color='#FF6530', offset='100%')
          g#Desktop(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Landing-Updated-6-Copy-6(transform='translate(-162.000000, -32.000000)')
              g#2(transform='translate(162.000000, 32.000000)')
                path#Betex(d='M55.776,11.68 L62.184,11.68 C63.8800085,11.68 65.1519958,12.0199966 66,12.7 C66.8480042,13.3800034 67.272,14.4799924 67.272,16 C67.272,16.9120046 67.1360014,17.6359973 66.864,18.172 C66.5919986,18.7080027 66.1280033,19.1839979 65.472,19.6 C66.1920036,19.9040015 66.7239983,20.3439971 67.068,20.92 C67.4120017,21.4960029 67.584,22.2959949 67.584,23.32 C67.584,24.9040079 67.1200046,26.0799962 66.192,26.848 C65.2639954,27.6160038 63.9600084,28 62.28,28 L55.776,28 L55.776,11.68 Z M62.112,21.184 L59.088,21.184 L59.088,25.168 L62.112,25.168 C62.8320036,25.168 63.3639983,25.0240014 63.708,24.736 C64.0520017,24.4479986 64.224,23.9200038 64.224,23.152 C64.224,21.8399934 63.520007,21.184 62.112,21.184 Z M62.016,14.512 L59.088,14.512 L59.088,18.4 L62.04,18.4 C63.2880062,18.4 63.912,17.7520065 63.912,16.456 C63.912,15.1599935 63.2800063,14.512 62.016,14.512 Z M74.252,24.964 C74.6280019,25.2920016 75.1679965,25.456 75.872,25.456 C77.3600075,25.456 78.6879942,25.4080005 79.856,25.312 L80.5,25.24 L80.5,27.928 C78.6599908,28.3760022 77.0720075,28.288 75.584,28.288 C73.775991,28.288 72.4640041,27.8080048 71.648,26.848 C70.8319959,25.8879952 70.424,24.3280108 70.424,22.168 C70.424,17.8639785 72.1919823,15.712 75.728,15.712 C79.2160175,15.712 80.72,17.3839819 80.72,21 L80.72,23.368 L73.664,23.368 C73.6800001,24.1040037 73.8759981,24.6359984 74.252,24.964 Z M77.792,20.92 C77.792,19.9599952 77.6400015,19.2920019 77.336,18.916 C77.0319985,18.5399981 76.5000038,18.352 75.74,18.352 C74.9799962,18.352 74.4440016,18.547998 74.132,18.94 C73.8199985,19.332002 73.6560001,19.9919954 73.64,20.92 L77.792,20.92 Z M97.252,24.964 C97.6280019,25.2920016 98.1679965,25.456 98.872,25.456 C100.360007,25.456 101.687994,25.4080005 102.856,25.312 L103.5,25.24 L103.5,27.928 C101.659991,28.3760022 100.072007,28.288 98.584,28.288 C96.775991,28.288 95.4640041,27.8080048 94.648,26.848 C93.8319959,25.8879952 93.424,24.3280108 93.424,22.168 C93.424,17.8639785 95.1919823,15.712 98.728,15.712 C102.216017,15.712 103.72,17.3839819 103.72,21 L103.72,23.368 L96.664,23.368 C96.6800001,24.1040037 96.8759981,24.6359984 97.252,24.964 Z M100.792,20.92 C100.792,19.9599952 100.640002,19.2920019 100.336,18.916 C100.031998,18.5399981 99.5000038,18.352 98.74,18.352 C97.9799962,18.352 97.4440016,18.547998 97.132,18.94 C96.8199985,19.332002 96.6560001,19.9919954 96.64,20.92 L100.792,20.92 Z M90.832,18.736 L87.88,18.736 L87.88,23.656 C87.88,24.1360024 87.8919999,24.475999 87.916,24.676 C87.9400002,24.876001 88.0279993,25.0479993 88.18,25.192 C88.3320008,25.3360007 88.5679984,25.408 88.888,25.408 L90.712,25.36 L90.856,27.928 C89.7839947,28.1680012 88.9680028,28.288 88.408,28.288 C86.9679928,28.288 85.9840027,27.9640032 85.456,27.316 C84.9279974,26.6679968 84.664,25.4720087 84.664,23.728 L84.664,18.736 L83.248,18.736 L83.248,16 L84.664,16 L84.664,12.664 L87.88,12.664 L87.88,16 L90.832,16 L90.832,18.736 Z M105.848,16 L109.28,16 L111.2,19.72 L113.144,16 L116.576,16 L113.168,21.88 L116.576,28 L113.144,28 L111.2,24.328 L109.28,28 L105.848,28 L109.136,21.976 L105.848,16 Z', fill='#000000')
                g
                  path#Fill-1(d='M21.554,0.0008 L21.554,5.6498 L43.108,16.7738 L43.108,11.1238 L21.554,0.0008 Z M21.554,0.0008 L0,11.1238 L0,16.7738 L21.554,5.6498 L21.554,0.0008 Z M21.554,11.2988 L43.108,22.4228 L43.108,16.7738 L21.554,5.6498 L21.554,11.2988 Z M21.554,5.6498 L0,16.7738 L0,22.4228 L21.554,11.2988 L21.554,5.6498 Z M21.554,16.9468 L43.108,28.0718 L43.108,22.4228 L21.554,11.2988 L21.554,16.9468 Z M21.554,11.2988 L0,22.4228 L0,28.0718 L21.554,16.9468 L21.554,11.2988 Z', fill='url(#linearGradient-1)')
                  path#Fill-3(d='M21.554,22.4228 L43.108,11.2988 L43.108,16.9468 L21.554,28.0718 L21.554,22.4228 Z M0,16.9468 L0,11.2988 L21.554,22.4228 L21.554,28.0718 L0,16.9468 Z M43.108,16.9468 L43.108,22.5968 L21.554,33.7218 L21.554,28.0718 L43.108,16.9468 Z M0,22.5968 L0,16.9468 L21.554,28.0718 L21.554,33.7218 L0,22.5968 Z M43.108,22.5968 L43.108,28.2458 L21.554,39.3708 L21.554,33.7218 L43.108,22.5968 Z M0,28.2458 L0,22.5968 L21.554,33.7218 L21.554,39.3708 L0,28.2458 Z', fill='url(#linearGradient-2)', style='mix-blend-mode: multiply;')
      a(href="./betex-wp.pdf", target="_blank", rel="nofollow", onclick="gtag('event', 'download', {'event_category': 'pdf', 'event_action': 'download-whitepaper'}); return true").btn.contribute-full-popup__btn Whitepaper
    .contribute-full-popup__wrap
      .contribute-full-popup__close
      p.contribute-full-popup__title Invest

      form#contribute-form(action="", method='post').contribute-form
        .contribute-form__field
          label(for="name").contribute-form__label Full name
          input#name(type="text", name="name", placeholder="Full name").contribute-form__input.required
        .contribute-form__field
          label(for="email").contribute-form__label Email
          input#email(type="text", name="email", placeholder="Email").contribute-form__input.required
          span.error-message Incorrect format
          i.error-icon
        .contribute-form__field
          label(for="amount").contribute-form__label Invested amount
          .contribute-form__input-group
            input#amount(type="number", name="amount", placeholder="0,5").contribute-form__input.in-group.required
            .contribute-form__currency
              ul.currency-list
                li.currency-list__item.current BTC
                li.currency-list__item ETH
        .contribute-form__field
          label(for="country").contribute-form__label Country
          input#country(placeholder="Country", name="country").contribute-form__input.required.country


        input(type="submit", value="Invest", onclick="gtag('event', 'Invest', {'event_category': 'Invest', 'event_action': 'button'});").contribute-form__submit.btn.btn_green
