script(src="./js/libs.min.js")
//script(src="https://www.gstatic.com/charts/loader.js")
//script(src="https://cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick.js")
//script(src="./js/google-charts.js")
script(src="./js/chart.js")
script(src="./js/core.min.js")
