script(src="./js/libs.min.js")
//script(src="https://www.gstatic.com/charts/loader.js")
//script(src="https://rawgit.com/kenwheeler/slick/master/slick/slick.js")
//script(src="./js/google-charts.js")
script(src="./js/chart.js")
script(src="./js/core.min.js")
