- var page = 'home';

doctype html
html(lang="en")
    head
        include ./partials/global/head
    body
        include ./partials/global/sprite

        include ./partials/global/header

        main.global-wrap#top
            include partials/home/001-main-block
            include partials/home/002-main-info
            include partials/home/003-detail-info
            include partials/home/004-business-model

            include partials/home/007-betex-token
            include partials/home/008-betex-mvp
            .gray-grad
                include partials/home/009-team
                include partials/home/010-events
                include partials/home/011-media
                include partials/home/012-contacts

        include ./partials/global/footer
        include ./partials/global/scripts

