.detail-info{
  &__item{
    padding: 0 0 49px;
    @include mq(768){
      padding: 0 10px 32px;
    }
    @include mq(767, max){
      &:last-of-type{
        //padding-bottom: 0;
      }
    }
    &-title{
      padding: 11px 0 5px;
      margin: 0;
      @include font-size(16);
      @extend %t_bold;
      line-height: 1.4;
      @include mq(768){
        padding: 15px 0 11px;
      }
    }
    &-text{
      margin: 0;
      @include font-size(14);
      line-height: 1.75;
      color: color('grey', 2);
    }
    &-icon{
      min-height: 34px;
      stroke: #38393c;
      svg{
        transition: transform .4s cubic-bezier(0.49, 0.02, 0.07, 1.04);
      }
      .stroke-gray {
        stroke: #b8bbbe;
        transition: .4s;
      }
      .stroke-black {
        stroke: #38393c;
        transition: .4s;
      }
      .fill-gray {
        fill: #b8bbbe;
        transition: .4s;
      }
      .fill-black {
        fill: #38393c;
        transition: .4s;
      }
    }
   }
  @media (min-width: 768px){
    &__item{
      padding: 0 110px 60px 10px;
      &-title{
        padding: 10px 0 17px;
        @include font-size(20);
        @include line-height(28, 20);
      }
      &-icon{
        min-height: 51px;
      }
      &-text{
        @include line-height(21, 14);
      }
    }
    &__container{
      padding-top: 55px;
      padding-bottom: 132px;
      border-top: 2px solid #d8d8d8;
    }
  }
  @media (min-width: 1024px){
    &__item{
      &:hover{
        .detail-info__item-icon svg{
          transform: translate(100%, 100%) scale(3.2, 3.2);
          transition: transform .4s ease-in;
          opacity: .3;
          .stroke-black {
            stroke: #70A1FB
          }
          .fill-black {
            fill: #70A1FB
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 47px;
    &__row{
      padding-top: 32px;
      border-top: 2px solid #d8d8d8;
    }
  }
}
