.detail-info{
  &__item{
    padding: 0 10px 32px 10px;
    &-title{
      padding: 15px 0 11px;
      margin: 0;
      @include font-size(16);
      @extend %t_bold;
      line-height: 1.4;
    }
    &-text{
      margin: 0;
      @include font-size(14);
      line-height: 1.75;
      color: color('grey', 2);
    }
    &-icon{
      min-height: 34px;
      stroke: #38393c;
      svg{
        transition: transform .4s ease-out;
      }
      .stroke-gray {
        stroke: #b8bbbe;
        transition: .4s;
      }
      .stroke-black {
        stroke: #38393c;
        transition: .4s;
      }
      .fill-gray {
        fill: #b8bbbe;
        transition: .4s;
      }
      .fill-black {
        fill: #38393c;
        transition: .4s;
      }
    }
   }
  @media (min-width: 768px){
    &__item{
      padding: 0 60px 77px 10px;
      &-title{
        padding: 5px 0 17px;
        @include font-size(20);
        @include line-height(28, 20);
      }
      &-icon{
        min-height: 51px;
      }
      &-text{
        @include line-height(21, 14);
      }
    }
    &__container{
      padding-top: 67px;
      padding-bottom: 5px;
      border-top: 2px solid #d8d8d8;
    }
  }
  @media (min-width: 1024px){
    &__item{
      &:hover{
        .detail-info__item-icon svg{
          transform: translate(100%, 100%) scale(3.2, 3.2);
          transition: transform .4s ease-in;
          opacity: .3;
          .stroke-black {
            stroke: #70A1FB
          }
          .fill-black {
            fill: #70A1FB
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    &__row{
      padding-top: 32px;
      border-top: 2px solid #d8d8d8;
    }
  }
}
