.tokens-distribution{

   &__title-block{
     //border-top: 1px solid #d8d8d8;
   }
   &__title-mob{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: $weight-bold;
     margin: 0;
     padding: 5px 7px;
     &-icon{
       transform: rotate(-90deg);
       transition: .3s;
       .tokens-distribution__title-block.open &{
         transform: rotate(90deg);
       }
     }
   }
  &__title{
    &-label{
      position: relative;
      &:before{
        content: '';
        @extend .i-clock;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 10px;
      }
    }
  }

   &__chart{
     margin: 5px 0 0 -5px;
     &-wrap{
       //padding: 10px 35px 0;
       position: relative;
     }
   }
   &__list{
     $yellow: #FFDD00;
     $red: #FF505A;
     $blue: #3F4FC9;
     $grey: #6B6B6B;
     $lightblue: #A9F5FE;
     $green: #2CD498;
     padding: 17px 0 0 0;
     max-width: 360px;
     &-item{
       padding: 0 0 14px;
       display: flex;
       position: relative;
       line-height: 1.75;
       @include mq(767, max){
         @include font-size(14);
       }
       &:before{
         content: '';
         width: 11px;
         min-width: 11px;
         height: 11px;
         display: inline-block;
         vertical-align: middle;
         border-radius: 100%;
         margin-right: 10px;
         margin-top: 8px;
         position: relative;
         z-index: 2;
       }
       &.active{
         &:after{
           content: '';
           width: 17px;
           height: 17px;
           position: absolute;
           top: 5px;
           left: -3px;
           display: block;
           border-radius: 100%;
           opacity: 1;
           z-index: 1;
           transform: scale(.8);
           animation: 1.4s pulseListItem infinite;
         }
         &.grey {
           &:after{
             background: $grey;
           }
         }
         &.light-blue {
           &:after{
             background: $lightblue;
           }
         }
         &.yellow {
           &:after{
             background: $yellow;
           }
         }
         &.red {
           &:after{
             background: $red;
           }
         }
         &.blue {
           &:after{
             background: $blue;
           }
         }
         &.green {
           &:after{
             background: $green;
           }
         }
       }
       &.grey {
         &:before{
           background: $grey;
         }
       }
       &.light-blue {
         &:before{
           background: $lightblue;
         }
       }
       &.yellow {
         &:before{
           background: $yellow;
         }
       }
       &.red {
         &:before{
           background: $red;
         }
       },
       &.green {
         &:before{
           background: $green;
         }
       }
       &.blue {
         &:before{
           background: $blue;
         }
       }
       b{
         padding-right: 10px;
         flex: 0 1 60px;
       }
       span{
         flex: 0 1 280px;
       }
     }
   }
   .locked{
     display: flex;
     flex-direction: column;
     flex: 0 1 280px;
     span{
       flex: 0 1 auto;
     }
     &__list{
       padding: 2px 4px 0;
       color: #88909b;
       &-item{
         padding: 0 5px;
         position: relative;
         &:before{
           content: '';
           width: 4px;
           height: 4px;
           border-radius: 100%;
           background: #88909b;
           display: block;
           position: absolute;
           left: -2px;
           top: 10px;
         }
       }
     }
   }
   .locked-icon{
     x: 330;
     y: 70;
   }
  .donutchart {
    height: 280px;
  }

   @media (min-width: 768px){
     //padding: 0 0 98px;
     padding: 123px 0 155px;
     &__title{
       padding-left: 10px;
       margin-bottom: 8px;
       font-weight: $weight-bold;
       &-label{
         color: #fff;
         background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(253, 253, 254, 0.01) 0%, #717fe5 100%);
         font-weight: $weight-bold;
         max-width: 355px;
         height: 35px;
         border-top-left-radius: 100px;
         border-bottom-left-radius: 100px;
         //border: 1px solid #3f4fc9;
         display: flex;
         align-items: center;
         margin: 0 0 32px 5px;
         padding-left: 34px;
         letter-spacing: 0;

       }
     }
     &__title-block{
       display: none;
     }
     &__list{
       padding: 10px 0 0;
       &-item{
         line-height: 1.4;
         padding: 0 0 17px;
         &:before{
           margin-top: 5px;
         }
         &.active{
           &:after{
             top: 2px;
           }
         }
         b{
           flex: 0 1 45px;
         }
       }
     }
     .locked{
       &__list {
         padding: 25px 0 0;
         &-item{
           &:before{
             top: 6px;
           }
         }
       }
     }
     .locked-icon{
       x: 250;
     }
     .donutchart{
       height: 400px;
       width: 390px;
     }
   }
   @media (min-width: 1024px) {
     &__title{
       transition: 1s;
     }
     &__list {
       transition: 1s .5s;
     }
     &__title,
     &__list{
       .tokens-distribution.animate &{
         opacity: 0;
         transform: translate3d(0,30px,0);
       }
     }
     &__chart{
       &-wrap{
         //padding: 0 120px;
       }
     }
     .donutchart{
       width: 500px;
       margin-left: 30px;
     }
     .locked-icon {
       x: 300;
     }
   }
   @media (max-width: 767px){
     padding-top: 30px;
     //border-bottom: 1px solid #d8d8d8;
     padding-bottom: 50px;
     &__title{
       display: none;
       &-label{
         display: none;
       }
     }
     &__list{
       &-item{
         span{
           @include font-size(14);
         }
       }
     }
     .locked{
       &__list{
         &-item{
           @include font-size(14);
         }
       }
     }
     &__chart{

     }
     .locked-icon{
       display: none;
     }
   }
   /*@media (max-width: 550px){
     #donutchart{
       height: 320px;
       margin-top: -100px;
       &>div>div{
         height: 320px !important;
       }
     }
   }*/
 }

#tooltip{
  position: absolute;
  min-width: 200px;
  transition: .3s;
  z-index: 5;
  font-weight: $weight-bold;

}
#chartjs-tooltip{
  position: absolute;
  //top: 0;

}
.chartjs-tooltip-key{
  padding: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background: inherit;
    transform: rotate(-30deg);
    bottom: 0;
    left: -60px;
    z-index: -1;
  }
}
.google-visualization-tooltip{
  display: none;
}

.highcharts-color-0 + image {
  transform: translate(0, 0);
  transition: .7s;
}
.highcharts-color-0.highcharts-point-select + image {
  transform: translate(7px, -6px);
}

@keyframes pulseListItem {
  0%{
    transform: scale(.8);
    opacity: 1;
  }
  100%{
    transform: scale(1.4);
    opacity: 0;
  }
}