.roadmap{
  @include mq(1024){
    padding-bottom: 140px;
  }
  @include mq(767, max) {
    padding: 81px 0 0;
  }
}
.roadmap-slider{
  //height: 500px;
  &-for{
    position: relative;
    @include mq(767, max){
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
    }
    &:after,
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
    }
    &:after{
      bottom: 0;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, .3) 0%, #fff 100%);
    }
    &:before{
      top: 0;
      background-image: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, .3) 100%);
    }
    &__item{
      @include mq(1023, max){
        position: relative;
        box-shadow: 0 16px 32px rgba(5, 12, 112, 0.12);
        border: 1px solid #f0f0fc;
        background-color: #ffffff;
        padding: 30px 5px 60px 22px;
        margin: 0 15px 70px;
        &-title{
          font-weight: $weight-bold;
          margin: 0;
          padding-bottom: 10px;
        }
        &-text{
          @include font-size(14);
          @include line-height(28, 14);
        }
      }
      @include mq(1024){
        background-color: #ffffff;
        //height: 200px;
        height: auto;
        width: 100%!important;
        transform: scale(1);
        opacity: .5;
        transition: opacity .3s, transform .3s;
        position: relative;
        border: 1px solid transparent;
        padding: 27px 65px 35px 53px;
        &.slick-current{
          box-shadow: 0 16px 32px rgba(5, 12, 112, 0.12);
          border: 1px solid #f0f0fc;
          opacity: 1;
          transform: scale(1.1);
          z-index: 1;
          height: auto;
        }
        &.slick-cloned{
          opacity: 0;
        }
        &-title{
          @include font-size(22);
          font-weight: $weight-bold;
          margin: 0;
          padding-bottom: 10px;
        }
        &-text{
          @include font-size(14);
          @include line-height(25, 14);
        }
      }
    }

    &__list{
      padding: 6px 0 0;
      &-item{
        position: relative;
        padding-left: 17px;
        &:before{
          content: '';
          width: 8px;
          height: 8px;
          background: #3f4fc9;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 10px;
        }
        @include mq(1024){
          padding-left: 22px;
          &:before{
            left: 7px;
            top: 9px;
          }
        }
      }
      @include mq(1024){
        padding: 0;
      }
    }

    @include mq(1024){
      display: flex;
      align-items: center;
      justify-content: center;
      .slick-track{
        padding: 0 10%;
        //height: auto!important;
      }
      .slick-list{
        height: 500px !important;
        padding: 150px 0 !important;
        //height: 600px!important;
        //height: auto!important;
      }
    }

  }
  &-nav{

    @include mq(1023, max){
      padding: 20px 0 24px;
      &__item{
        width: 115px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto 0;
          background: #3f4fc9;
          z-index: 1;
        }
        &.slick-cloned{
          opacity: 0;
        }
        &:first-of-type{
          &:before{
            width: 50%;
            right: 0;
            left: auto;
          }
        }
        &:last-of-type{
          &:before{
            width: 50%;
            left: 0;
            right: auto;
          }
        }
      }
      &__circle{
        width: 65px;
        height: 65px;
        border: 2px solid rgba(63,79,201,.2);
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        @include font-size(12);
        @include line-height(17, 12);
        span{
          transition: opacity .5s;
          opacity: .2;
        }
        .slick-current &{
          border: 2px solid rgba(63,79,201,1);
          span{
            opacity: 1;
          }
        }
      }
      .slick-list{
        overflow: visible;
      }
    }

    @include mq(1024){
      padding: 55px 0;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      //border: 1px solid;
      &__item{
        //width: 150px;
        height: 150px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 2px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin-right: auto;
          margin-left: auto;
          background: #3f4fc9;
          height: 100%;
          z-index: 1;
        }
        &.slick-cloned{
          opacity: 0;
        }
        &:first-of-type{
          &:before{
            height: 50%;
            top: auto;
            bottom: 0;
          }
        }
        &:last-of-type{
          &:before{
            height: 50%;
          }
        }
      }
      &__circle{
        width: 80px;
        height: 80px;
        border: 2px solid rgba(63,79,201,.2);
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        @include font-size(14);
        @include line-height(17, 14);
        font-weight: $weight-bold;
        transform: scale(1);
        transition: .5s;
        span{
          transition: opacity .5s;
          opacity: .2;
        }
        .slick-current &{
          transform: scale(1.4);
          border: 2px solid rgba(63,79,201,1);
          span{
            opacity: 1;
          }
        }
      }
      .slick-list{
        height: 450px !important;
        padding: 150px 0 !important;
        //margin: auto;
        //border: 1px solid green;
      }
    }

  }
  .custom_paging{
    @include font-size(12);
    color: #4a66e1;
    font-weight: $weight-bold;
    position: absolute;
    right: 18px;
    bottom: -62px;
    margin: auto 0;
    height: 33px;
    z-index: 1;
    @include mq(768){
      right: 40px;
    }
    @include mq(1024){
      @include font-size(14);
      color: #d9d9d9;
      top: 0;
      bottom: 0;
    }
    li{
      &:not(.slick-active){
        display: none;
      }
    }
    .slide-number{
      @include font-size(17);
      @include mq(1024){
        @include font-size(24);
      }
    }
  }
  .slick-arrow{
    text-indent: -10000px;
    width: 30px;
    height: 12px;
    padding: 0;
    position: absolute;
    right: 45px;
    z-index: 1;
    &:after,
    &:before{
      content: '';
      display: block;
      width: 17px;
      height: 3px;
      background: #8cce9e;
      position: absolute;
      top: 5px;
    }
    &:after{
      left: 0;
      transform: rotate(30deg);
    }
    &:before{
      right: 0;
      transform: rotate(-30deg);
    }
  }
  .slick-prev{
    transform: rotate(180deg);
    top: 43%;
  }
  .slick-next{
    bottom: 44%;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    .slick-active{
      button{
        background: #7c8af3;
      }
    }
    button{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 6px;
      padding: 0;
      text-indent: -10000px;
      background: #d8d8d8;
    }
  }
}
