section.main-block
  .container
    .row
      .col-lg-6.main-block__descript
        h1.main-block__title Peer-to-peer binary options platform
        p.main-block__sub-title Powered by ethereum smart contracts

        //.timer timer
        #timer.timer

        form(method="").subscribe-form
          input.subscribe-form__input(type="email", placeholder="Email")
          input.subscribe-form__submit(type="submit", value="Subscribe")

        .main-block__links
          a(href="#", target="_blank", rel="nofollow").main-block__link.link-doc Terms of Tokens Sale
          a(href="#", target="_blank", rel="nofollow").main-block__link.link-doc Download Whitepaper
  .main-block__img-wrap
    img.main-block__img(src="img/home-page/main-block.png", alt="binary-platform")