section.main-info.loading
  .container
    .row
      .col-lg-6
        h3.main-info__title.title-line Bringing clear-cut transparency to the financial derivatives markets
          span.title-line__line(data--20-bottom="width: 0px" data--200-bottom="width: 118px")
      .col-lg-6
        .main-info__text.text
          p
            b="Betex "
            | is a leading-edge platform for P2P financial derivatives trading. It enables users to place bets on future changes against each other.
          p As a platform provider, we cannot engage in betting. Thus, there is no way for us to benefit from it. We only profit from collecting service fees.
          p Built with Blockchain technology, unlike traditional platforms, Betex provides access to real-time data, thereby, ensuring absolute transparency of its system.
          p Determined to reinvent financial derivatives market, we strive to instill incorruptible business logic that would conclusively eliminate the issue of trust.