section.main-info
  .container
    .row
      .col-lg-6
        h3.main-info__title.title-line Bringing clear-cut transparency to financial derivatives markets
          span.title-line__line
      .col-lg-6
        .main-info__text.text
          p Betex enables users to place bets on future changes against each other, forming a common pool of liquidity for each trading asset.
          p Built with Blockchain technology, unlike traditional platforms, Betex provides access to real-time data to ensure utterly safe interactions and indeed transparent conditions, equal for all participants. We profit niether from your gain, nor from your loss, but solely from service fees.
          p Determined to reinvent financial derivatives markets, we strive to instill incorruptible business logic that would conclusively eliminate the issue of trust.