-
  var count = 1;
  var detailInfo = {
  1: ['42px' , '34px', 'Transparent', 'Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.'],
  2: ['48px', '37px', 'Provably fair', 'Whatever is the outcome of your bet, we profit only from the service fees. For that reason, it would be totally unreasonable and pointless for us to even try manipulating results.'],
  3: ['37px', '36px', 'Common liquidity pool', 'The goal is to consolidate maximum liquidity from the derivatives markets into a single pool, instead of creating multiple tiny ones. In other words, there will be a common pool of liquidity formed for each trading asset.'],
  4: ['39px', '40px', 'Native Token', 'ERC-20 standard compatible Ethereum Token, executing primarily the reward function.',],
  5: ['33px', '45px', 'No deposits', 'Users are not required to put any deposits in order to participate.'],
  6: ['46px', '46px', 'Instant payouts', 'Payments are automatically released by smart contracts straight to your ETH wallet, allowing immediate, frictionless and irreversible withdrawals without delays or cancellations.']
  }
section.detail-info
  .container.detail-info__container
    .row.detail-info__row
      .col-lg-4.col-md-6.detail-info__item
        .detail-info__item-icon
          svg(xmlns='http://www.w3.org/2000/svg', width='45', height='35', viewbox='0 0 43 35')
            g(transform='translate(-161 -1234)', fill-opacity='0', stroke-width='1.6')
              path(stroke-dasharray='4 4', d='M178 1249v20h26v-19.92z').stroke-gray
              g.stroke-black
                path(d='M162 1236a1 1 0 0 1 1-1h25a1 1 0 0 1 1 1v20a1 1 0 0 1-1 1h-25a1 1 0 0 1-1-1z')
                path(d='M169 1240h9')
                path(d='M181 1239.8h3.51')
                path(d='M178 1261v-12h13')
        h5.detail-info__item-title Transparent
        p.detail-info__item-text Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.
      .col-lg-4.col-md-6.detail-info__item
        .detail-info__item-icon
          svg(xmlns='http://www.w3.org/2000/svg', width='48', height='37', viewbox='0 0 48 37')
            g(stroke='none', transform='translate(-542 -1232)')
              path.fill-gray(d='M588 1243.21a5.15 5.15 0 0 0-.12-.5.95.95 0 0 0-1.16-.68.95.95 0 0 0-.69 1.15l.11.44c.09.44.49.74.93.74l.2-.02a.94.94 0 0 0 .73-1.13z')
              path.fill-black(d='M590 1246.69a7.35 7.35 0 0 1-7.39 7.29 7.34 7.34 0 0 1-7.38-7.29c0-.52.42-.94.95-.94h.73c.29-4.02 2.52-7.39 3.92-9.13a8.56 8.56 0 0 1-2.83-1.07 6.41 6.41 0 0 0-6.76.09l-4.28 2.75v23.68a5.8 5.8 0 0 1 4.81 4.88h1.97c.53 0 .96.42.96.94s-.43.95-.96.95h-15.48a.96.96 0 0 1-.96-.95c0-.52.43-.94.96-.94h1.97a5.8 5.8 0 0 1 4.81-4.88v-23.55l-4.47-2.88a6.41 6.41 0 0 0-6.76-.09c-.84.5-1.74.85-2.66 1.03 1.39 1.74 3.65 5.13 3.94 9.17h.73c.53 0 .95.42.95.94a7.34 7.34 0 0 1-7.38 7.29 7.35 7.35 0 0 1-7.39-7.29c0-.52.43-.94.96-.94h.73c.29-4.07 2.58-7.49 3.97-9.21a8.18 8.18 0 0 1-3.98-2.18l-.67-.65a.95.95 0 0 1 0-1.34.96.96 0 0 1 1.35 0l.67.66a6.38 6.38 0 0 0 7.78.91 8.33 8.33 0 0 1 8.8.12l3.43 2.2v-3.32c0-.52.43-.94.96-.94s.96.42.96.94v3.2l3.24-2.08a8.33 8.33 0 0 1 8.8-.12 6.38 6.38 0 0 0 7.78-.91l.66-.66a.96.96 0 0 1 1.35 0c.38.37.38.97 0 1.34l-.66.65a8.27 8.27 0 0 1-3.82 2.15c.64.79 1.48 1.95 2.23 3.38a.94.94 0 0 1-.41 1.27.97.97 0 0 1-1.29-.4 18.95 18.95 0 0 0-2.23-3.32c-1.16 1.4-3.46 4.59-3.78 8.31h10.21c.53 0 .96.42.96.94zm-35.22.94H544a5.46 5.46 0 0 0 5.39 4.46 5.47 5.47 0 0 0 5.39-4.46zm-5.39-10.19c-1.17 1.4-3.47 4.59-3.78 8.31h7.56c-.32-3.73-2.61-6.91-3.78-8.31zm16.61 26.44a3.92 3.92 0 0 0-3.8 2.92h7.6a3.92 3.92 0 0 0-3.8-2.92zm22-16.25h-10.78a5.47 5.47 0 0 0 5.39 4.46c2.7 0 4.94-1.93 5.39-4.46z')
        h5.detail-info__item-title Provably fair
        p.detail-info__item-text Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.
      .col-lg-4.col-md-6.detail-info__item
        .detail-info__item-icon
          svg(width='39px', height='38px', viewbox='0 0 39 38', xmlns='http://www.w3.org/2000/svg')
            g(stroke-width='2', fill='none', transform='translate(1.000000, 1.000000)')
              g.stroke-gray
                path(d='M27,10 L32,5')
                path(d='M5,11 L11,5', transform='translate(8.000000, 8.000000) scale(-1, 1) translate(-8.000000, -8.000000) ')
                path(d='M27,31 L32,26', transform='translate(29.500000, 28.500000) scale(1, -1) translate(-29.500000, -28.500000) ')
                path(d='M5,31 L11,25', transform='translate(8.000000, 28.000000) scale(-1, -1) translate(-8.000000, -28.000000) ')
              g(stroke='none').fill-gray
                path(d='M13.7519809,11.1535932 C11.3675315,12.8952289 10,15.4975058 10,18.293282 C10,18.6835317 10.3444598,19 10.7692269,19 C11.1939939,19 11.5384537,18.6836024 11.5384537,18.293282 C11.5384537,15.9309359 12.6942171,13.7319123 14.7094376,12.2599602 C15.0419743,12.0170612 15.0972818,11.5724649 14.8328216,11.2669507 C14.5685152,10.9614366 14.0845946,10.9106236 13.7519809,11.1535932 Z')
                path(d='M20.056657,9 C18.9100235,9 17.7748045,9.13719203 16.6825076,9.40792304 C16.1818755,9.53196412 15.8929295,9.98177538 16.0370723,10.412672 C16.1560279,10.7683971 16.5332708,11 16.943059,11 C17.0294692,11 17.1173888,10.9896903 17.2047423,10.9680968 C18.1272375,10.7394975 19.086806,10.6235743 20.056657,10.6235743 C20.577571,10.6235743 21,10.260056 21,9.81178715 C21,9.36351829 20.577571,9 20.056657,9 Z')
              g.stroke-black
                circle(cx='19', cy='18', r='11')
                circle(cx='2.5', cy='2.5', r='2.5')
                circle(cx='34.5', cy='2.5', r='2.5')
                circle(cx='34.5', cy='33.5', r='2.5')
                circle(cx='2.5', cy='33.5', r='2.5')
        h5.detail-info__item-title Common liquidity pool
        p.detail-info__item-text Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.
      .col-lg-4.col-md-6.detail-info__item
        .detail-info__item-icon
          svg(xmlns='http://www.w3.org/2000/svg', width='39', height='40', viewbox='0 0 39 40')
            g(transform='translate(-162 -1512)', stroke='none')
              g.fill-black
                path(d='M201 1532c0 11.03-7.83 20-17.45 20-.7 0-1.38-.05-2.06-.14a15.89 15.89 0 0 1-11.99-3.44l-.12-.1a18.76 18.76 0 0 1-3.31-3.5 20.86 20.86 0 0 1-2.41-4.32 22.36 22.36 0 0 1-.96-14.09 21.07 21.07 0 0 1 1.26-3.59l.04-.11a20.53 20.53 0 0 1 2.6-4.22l.08-.1c3.19-3.93 7.73-6.39 12.77-6.39.66 0 1.33.05 2.04.14a15.6 15.6 0 0 1 2.06-.14c9.62 0 17.45 8.97 17.45 20zm-24.46-18.32c-1.09.24-2.13.61-3.13 1.08h1.32l.56-.37.37-.22.67-.37.21-.12zm-7.48 29.44l-.17-.31-.44-.81-.15-.31-.34-.72h-2.59c.47.97 1 1.89 1.61 2.75h2.45l-.37-.6zm-4.76-17.33h2.67l.28-.89.08-.26.35-.92h-2.62c-.29.67-.55 1.36-.76 2.07zm-.9 6.9h2.72l-.01-.69c0-.45.01-.9.04-1.35v-.03h-2.73c-.03.46-.05.92-.05 1.38l.03.69zm.08 1.38c.07.7.17 1.39.3 2.07h2.7l-.18-1.14-.01-.07c-.03-.28-.07-.57-.09-.86zm.44-6.9c-.16.68-.27 1.37-.36 2.07h2.71l.03-.17v-.07c.06-.44.13-.88.22-1.31l.05-.27.05-.25zm.18 10.35c.19.71.42 1.4.68 2.07h2.63l-.07-.23-.09-.26c-.14-.4-.26-.82-.38-1.24l-.02-.09-.06-.25zm5.54-17.57l.25-.36h-2.4c-.66.85-1.26 1.77-1.78 2.75h2.57l.02-.03.15-.31a20.89 20.89 0 0 1 1.19-2.05zm-.96-1.74h2.26l.32-.38.37-.41.4-.42.41-.41.5-.45h-1.89c-.84.6-1.64 1.3-2.37 2.07zm1.46 28.96h2.06l-.16-.17-.41-.42-.37-.41-.64-.76-.23-.31h-2.35c.64.76 1.35 1.45 2.1 2.07zm6.19 3.03l-.67-.37-.37-.22a14.9 14.9 0 0 1-.83-.55l-.42-.31-.27-.2h-1.66a14.8 14.8 0 0 0 4.43 1.77l-.21-.12zm23.3-18.2c0-10.27-7.21-18.62-16.08-18.62-.54 0-1.08.03-1.61.09l-.26.04a.36.36 0 0 0-.11.02l-.71.11-.06.02a8.05 8.05 0 0 0-.77.17l-.62.18-.18.06-.52.17-.42.17-.28.11a17.08 17.08 0 0 0-8.92 9.36l-.11.26-.2.52-.12.34a6.21 6.21 0 0 0-.28.84l-.13.44-.11.41-.1.43-.1.42-.09.44-.07.43-.07.46-.06.42-.06.5-.04.39-.04.58-.02.32-.02.92.02.92.02.32.04.58.04.39c.02.17.03.34.06.5l.06.42.07.46.07.43a33.54 33.54 0 0 1 .19.86l.1.43.11.41.13.44.12.38a6.21 6.21 0 0 0 .28.8 8 8 0 0 0 .2.52l.11.26a12.79 12.79 0 0 0 .34.76 17.08 17.08 0 0 0 8.58 8.6l.28.11.42.16c.17.07.34.12.52.18l.18.06.62.17.1.03c.22.06.45.11.68.15l.05.02.71.11.11.02.26.04c.53.06 1.07.09 1.61.09 8.87 0 16.08-8.35 16.08-18.62z')
                path(d='M182 1529.89v-.97a6.2 6.2 0 0 0 2.06-.44c.38-.21.67-.7.87-1.48H186v10h-1.45v-7.11z')
              g.fill-gray
                path(d='M171.93 1532.24c0-.48.02-.96.07-1.42.04-.42-.36-.78-.89-.82-.53-.03-.99.28-1.03.7-.05.5-.08 1.02-.08 1.54v.01c0 .42.43.75.96.75s.97-.35.97-.76z')
                path(d='M196.46 1528.42c.09.35.41.58.76.58l.19-.02a.78.78 0 0 0 .57-.94c-.13-.51-.29-1.02-.46-1.52a.78.78 0 0 0-1.48.5c.16.45.3.93.42 1.4z')
                path(d='M193.4 1541.32c-.36.42-.75.83-1.14 1.21a.83.83 0 0 0 .01 1.22.92.92 0 0 0 1.27-.01c.44-.41.86-.86 1.26-1.33a.85.85 0 0 0-.13-1.22.93.93 0 0 0-1.27.13z')
                path(d='M172.54 1536.58a.79.79 0 0 0-.95-.56.78.78 0 0 0-.57.94c.13.51.29 1.02.46 1.52.11.32.41.52.74.52a.77.77 0 0 0 .74-1.02c-.16-.45-.3-.92-.42-1.4z')
                path(d='M190.63 1517.77c-.47-.25-.96-.49-1.46-.7-.4-.17-.88-.03-1.08.3-.2.33-.04.73.35.9.45.18.89.39 1.31.62.14.08.29.11.44.11.27 0 .52-.11.68-.3.24-.31.14-.73-.24-.93z')
                path(d='M188.85 1545.08c-.44.2-.89.38-1.34.54-.41.14-.61.55-.46.92a.8.8 0 0 0 .74.46c.09 0 .18-.01.28-.05.5-.17 1.01-.37 1.5-.6.39-.18.54-.61.34-.96a.83.83 0 0 0-1.06-.31z')
                path(d='M194.89 1522.7c-.24-.49-.5-.95-.78-1.4-.22-.35-.61-.4-.88-.11-.27.29-.31.82-.09 1.18.25.4.49.83.71 1.26.12.24.32.37.52.37.12 0 .25-.05.35-.14.29-.26.37-.78.17-1.16z')
                path(d='M197.04 1531c-.54 0-.97.36-.97.78a13 13 0 0 1-.07 1.4c-.04.42.36.79.89.82h.08c.49 0 .92-.3.96-.7.04-.5.07-1.01.07-1.52v-.05c0-.41-.43-.73-.96-.73z')
                path(d='M196.5 1537.04a.73.73 0 0 0-.94.49c-.15.47-.31.93-.5 1.38-.16.39.01.85.38 1.03.1.04.2.06.3.06.28 0 .55-.18.67-.47.2-.49.39-.99.55-1.5a.8.8 0 0 0-.46-.99z')
                path(d='M185.33 1516.08a16.3 16.3 0 0 0-1.56-.08h-.03a.72.72 0 0 0-.74.71c0 .39.36.71.77.71.46 0 .93.03 1.38.08h.09c.38 0 .71-.27.75-.63.05-.39-.25-.74-.66-.79z')
                path(d='M174.15 1540.37c-.2-.38-.59-.48-.87-.23-.29.26-.37.78-.17 1.16.24.48.5.95.78 1.39.12.21.3.31.48.31.14 0 .28-.06.4-.19.27-.29.31-.82.09-1.18-.25-.4-.49-.82-.71-1.26z')
                path(d='M172.56 1525.07a.71.71 0 0 0-.97.4c-.2.49-.39.99-.55 1.5-.13.41.07.85.46.99a.73.73 0 0 0 .93-.49c.15-.46.32-.93.51-1.38a.8.8 0 0 0-.38-1.02z')
                path(d='M184.22 1546.11c-.46 0-.93-.04-1.39-.1-.4-.06-.78.3-.82.82-.05.52.24.99.65 1.05.51.08 1.04.12 1.56.12h.07c.41 0 .71-.42.71-.94 0-.53-.37-.95-.78-.95z')
                path(d='M175.46 1520.25c-.44.42-.86.87-1.26 1.34a.84.84 0 0 0 .13 1.21.92.92 0 0 0 1.27-.12c.36-.42.74-.83 1.14-1.21a.83.83 0 0 0-.01-1.22.93.93 0 0 0-1.27 0z')
                path(d='M179.94 1517.05c-.51.17-1.02.37-1.51.6-.39.18-.54.61-.34.96.13.25.41.39.7.39.12 0 .24-.03.35-.08.44-.2.89-.38 1.35-.54a.7.7 0 0 0 .46-.92c-.15-.37-.61-.55-1.01-.41z')
                path(d='M179.56 1544.74c-.45-.19-.89-.4-1.31-.63-.37-.2-.87-.12-1.12.19-.24.31-.14.73.24.93.47.25.96.49 1.46.7.11.05.24.07.36.07.3 0 .58-.13.72-.37.2-.32.05-.73-.35-.89z')
        h5.detail-info__item-title Native Token
        p.detail-info__item-text Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.
      .col-lg-4.col-md-6.detail-info__item
        .detail-info__item-icon
          svg(width='33px', height='40px', viewbox='0 0 33 40', xmlns='http://www.w3.org/2000/svg')
            g(stroke='none')
              g.fill-gray
                path(d='M24.630497,15.1965327 C20.1268712,10.5038534 12.7990569,10.5040415 8.29552133,15.1966268 C6.50324272,17.0641792 5.37167163,19.4305545 5.02321814,22.0398979 C4.68622932,24.5633606 5.13614957,27.1820164 6.29010835,29.4136917 C6.5266234,29.8711263 7.07448977,30.0420411 7.51303563,29.7955927 C7.95203286,29.5492383 8.11605876,28.9787384 7.87963397,28.5213978 C5.85544422,24.6068183 6.55144846,19.6745573 9.57225128,16.526978 C13.3719289,12.5678121 19.5543603,12.567718 23.3538573,16.526884 C27.1535349,20.4860499 27.1535349,26.9282309 23.3538573,30.8873969 C20.3329642,34.0351643 15.5991424,34.7603059 11.8427056,32.6510083 C11.4034375,32.4045598 10.8562031,32.5756628 10.619688,33.0329093 C10.3832632,33.4902498 10.5473794,34.0607498 10.9861961,34.3071982 C12.6641892,35.2493461 14.5700311,35.7412083 16.4813797,35.7412083 C17.0097471,35.7412083 17.5384756,35.7035826 18.0628711,35.6273905 C20.5670419,35.2643023 22.8381281,34.0852065 24.630497,32.2176541 C29.1341229,27.5248807 29.1341229,19.8893061 24.630497,15.1965327 Z')
                path(d='M9.28316497,31.2283626 C8.99080442,30.9238791 8.51713095,30.9238791 8.22484524,31.2283626 L8.21915816,31.2342885 C7.92694728,31.5388499 7.92694728,32.0325731 8.21915816,32.3370565 C8.36530102,32.4893372 8.55671599,32.5654386 8.74828061,32.5654386 C8.93977041,32.5654386 9.1312602,32.4893372 9.27747789,32.3370565 L9.28316497,32.3311306 C9.57545068,32.0265692 9.57545068,31.532846 9.28316497,31.2283626 Z')
                path(d='M18.8871497,6.81013645 C18.7480408,6.66510721 18.5549796,6.58167641 18.3581769,6.58167641 C18.1613741,6.58167641 17.9683878,6.66510721 17.8291293,6.81013645 C17.6898707,6.95516569 17.6098776,7.15555556 17.6098776,7.36140351 C17.6098776,7.56647173 17.6899456,7.76764133 17.8291293,7.91267057 C17.9683129,8.05769981 18.1613741,8.1411306 18.3581769,8.1411306 C18.5549796,8.1411306 18.7480408,8.05769981 18.8871497,7.91267057 C19.0270816,7.76764133 19.1064762,7.56647173 19.1064762,7.36140351 C19.1064014,7.15555556 19.0270816,6.95516569 18.8871497,6.81013645 Z')
              path.fill-black(d='M29.5139728,14.0161404 C27.5093537,11.0369591 24.8118844,8.62861598 21.677932,7.01146199 L24.7982653,1.15836257 C24.9269728,0.916881092 24.9234558,0.622378168 24.7889864,0.384327485 C24.654517,0.14619883 24.4092993,0 24.1441769,0 C22.9978571,0 22.3153333,0.516647173 21.7668299,0.931773879 C21.2876939,1.29442495 20.9415306,1.55649123 20.3028571,1.55649123 C19.6418095,1.55649123 19.2494014,1.26838207 18.7526054,0.903625731 C18.2043265,0.501052632 17.5218776,0 16.4615374,0 C15.396932,0 14.7000408,0.504717349 14.1400884,0.910253411 C13.6417959,1.27111111 13.2482653,1.55617934 12.6217143,1.55641326 C11.9946395,1.55617934 11.601034,1.27111111 11.1028163,0.910253411 C10.5427891,0.504717349 9.84582313,0 8.78136735,0 C8.5162449,0 8.27095238,0.14619883 8.13648299,0.384327485 C8.00201361,0.622378168 7.9984966,0.916881092 8.12720408,1.15836257 L11.2475374,7.01146199 C8.11358503,8.62869396 5.41611565,11.0369591 3.4114966,14.0161404 C1.17984354,17.3328655 0.000149659864,21.0934113 0.000149659864,24.8912281 C0.000149659864,29.437115 1.68629252,33.2821832 4.87629252,36.0107602 C7.82511565,38.5330994 11.9399388,39.9222612 16.4627347,39.9222612 C20.9855306,39.9222612 25.1003537,38.5331774 28.0491769,36.0107602 C31.2391769,33.2821832 32.9253197,29.437115 32.9253197,24.8912281 C32.9253197,21.0934113 31.7456259,17.3328655 29.5139728,14.0161404 Z M16.4627347,38.362729 C9.01334014,38.362729 1.4967483,34.197193 1.4967483,24.8912281 C1.4967483,17.9794932 5.89360544,11.268616 12.4532721,8.14105263 L16.4627347,8.14105263 C16.8759456,8.14105263 17.211034,7.79196881 17.211034,7.36132554 C17.211034,6.93068226 16.8759456,6.58159844 16.4627347,6.58159844 L12.7303673,6.58159844 L10.4767891,2.35430799 C11.0069592,2.72670565 11.667034,3.11547758 12.6217143,3.11594542 C13.7175986,3.11547758 14.425415,2.60280702 14.9941973,2.19087719 C15.4812653,1.83812865 15.865966,1.55953216 16.4615374,1.55953216 C17.0475306,1.55953216 17.4011769,1.81918129 17.8904898,2.17847953 C18.4594218,2.59617934 19.1673878,3.11602339 20.3027823,3.11602339 C21.3025102,3.11602339 21.9474694,2.71204678 22.4597551,2.33364522 L19.9812381,6.98276803 C19.8794694,7.1737232 19.8591905,7.40038986 19.925415,7.6077193 C19.9916395,7.81497076 20.1383061,7.98378168 20.3295714,8.07306043 C26.9682585,11.1708382 31.4286463,17.9295906 31.4286463,24.891384 C31.4287211,34.197271 23.9120544,38.362729 16.4627347,38.362729 Z')
              g(transform='translate(0.000000, 8.000000)').fill-black
                path#Rectangle-5(d='M16.1464466,-5.2027958 L16.1629824,-5.2027958 L16.1629824,-5.2027958 C16.708767,-5.2027958 17.1537438,-4.76517707 17.1628434,-4.21946833 L17.8368809,36.2029348 L17.8368809,36.2029348 C17.8459366,36.7460116 17.413027,37.1936034 16.8699502,37.2026591 C16.8644851,37.2027502 16.8590193,37.2027958 16.8535534,37.2027958 L16.8370176,37.2027958 L16.8370176,37.2027958 C16.291233,37.2027958 15.8462562,36.7651771 15.8371566,36.2194683 L15.1631191,-4.20293479 L15.1631191,-4.20293479 C15.1540634,-4.74601156 15.586973,-5.19360338 16.1300498,-5.2026591 C16.1355149,-5.20275023 16.1409807,-5.2027958 16.1464466,-5.2027958 Z', transform='translate(16.500000, 16.000000) rotate(-315.000000) translate(-16.500000, -16.000000) ')
                path#Rectangle-5(d='M16,-5.55634919 L16,-5.55634919 L16,-5.55634919 C16.5522847,-5.55634919 17,-5.10863394 17,-4.55634919 L17,36.5563492 L17,36.5563492 C17,37.1086339 16.5522847,37.5563492 16,37.5563492 L16,37.5563492 L16,37.5563492 C15.4477153,37.5563492 15,37.1086339 15,36.5563492 L15,-4.55634919 L15,-4.55634919 C15,-5.10863394 15.4477153,-5.55634919 16,-5.55634919 Z', transform='translate(16.000000, 16.000000) scale(-1, 1) rotate(-315.000000) translate(-16.000000, -16.000000) ')
        h5.detail-info__item-title No deposits
        p.detail-info__item-text Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.
      .col-lg-4.col-md-6.detail-info__item
        .detail-info__item-icon
          svg(xmlns='http://www.w3.org/2000/svg', width='46', height='46', viewbox='0 0 46 46')
            g(transform='translate(-922 -1506)', stroke='none')
              g.fill-black
                path(d='M948.1 1519.05c0 7.19-5.86 13.05-13.05 13.05a13.06 13.06 0 1 1 13.05-13.05zm-1.88 0a11.18 11.18 0 0 0-22.34 0 11.18 11.18 0 0 0 22.34 0z')
                path(d='M968.1 1539.05c0 7.19-5.86 13.05-13.05 13.05a13.06 13.06 0 1 1 13.05-13.05zm-1.88 0a11.18 11.18 0 0 0-22.34 0 11.18 11.18 0 0 0 22.34 0z')
                path(d='M937 1544.19c-3-1.57-5.06-3.36-6.45-5.63l.04.01a.93.93 0 1 0 .6-1.77l-2.2-.75a.94.94 0 0 0-1.19.59l-.75 2.2a.94.94 0 0 0 1.78.6l.02-.06c1.56 2.64 3.88 4.69 7.28 6.47a.93.93 0 0 0 1.27-.39.94.94 0 0 0-.4-1.27z')
                path(d='M962.44 1518.23l.14.05-.14-.05-.02-.01.02.01a.95.95 0 0 0-1.19.59l-.02.07c-1.73-2.86-4.33-5.1-7.89-6.8a.95.95 0 0 0-1.25.44.96.96 0 0 0 .44 1.26c3.19 1.52 5.46 3.43 6.99 5.91l-.03-.01a.93.93 0 1 0-.6 1.77l2.05.7c.57.19 1.2-.06 1.37-.63.22-.71.72-2.11.72-2.11a.94.94 0 0 0-.59-1.19z')
                path(d='M962.02 1518.01l-.02-.01.02.01z')
                path(d='M962.03 1518.01l-.03-.01.03.01z')
                path(d='M962.02 1518.01l-.02-.01.02.01z')
                path(d='M963 1518c.01 0 .01 0 0 0z')
                path(d='M962.02 1518.01l-.02-.01.02.01z')
                path(d='M962.01 1518c-.01 0-.01 0 0 0z')
              g.fill-gray
                path(d='M938.74 1522.03c0 1.68-1.25 3.1-2.93 3.49v.37a.94.94 0 1 1-1.88 0v-.37a3.67 3.67 0 0 1-2.93-3.49.94.94 0 1 1 1.88 0c0 .65.42 1.22 1.05 1.51v-3.34a3.67 3.67 0 0 1-2.93-3.49c0-1.69 1.25-3.1 2.93-3.5v-.27a.94.94 0 1 1 1.88 0v.27a3.68 3.68 0 0 1 2.93 3.5c0 .51-.42.93-.94.93a.94.94 0 0 1-.94-.93 1.7 1.7 0 0 0-1.05-1.52v3.34a3.68 3.68 0 0 1 2.93 3.5zm-4.81-6.84a1.7 1.7 0 0 0-1.05 1.52c0 .65.42 1.22 1.05 1.51zm2.93 6.84a1.7 1.7 0 0 0-1.05-1.52v3.03a1.71 1.71 0 0 0 1.05-1.51z')
                path(d='M958.74 1542.03c0 1.68-1.25 3.1-2.93 3.49v.37a.94.94 0 1 1-1.88 0v-.37a3.67 3.67 0 0 1-2.93-3.49.94.94 0 1 1 1.88 0c0 .65.42 1.22 1.05 1.51v-3.34a3.67 3.67 0 0 1-2.93-3.49c0-1.69 1.25-3.1 2.93-3.5v-.27a.94.94 0 1 1 1.88 0v.27a3.68 3.68 0 0 1 2.93 3.5c0 .51-.42.93-.94.93a.94.94 0 0 1-.94-.93 1.7 1.7 0 0 0-1.05-1.52v3.34a3.68 3.68 0 0 1 2.93 3.5zm-4.81-6.84a1.7 1.7 0 0 0-1.05 1.52c0 .65.42 1.22 1.05 1.51zm2.93 6.84a1.7 1.7 0 0 0-1.05-1.52v3.03a1.71 1.71 0 0 0 1.05-1.51z')
                path(d='M928.75 1511.17a10.36 10.36 0 0 0-3.75 8.03c0 .44.34.8.77.8.42 0 .77-.36.77-.8a8.7 8.7 0 0 1 3.17-6.78.81.81 0 0 0 .12-1.12.76.76 0 0 0-1.08-.13z')
                path(d='M936.06 1509c-1.15 0-2.29.14-3.38.41-.5.12-.79.57-.64 1 .12.36.49.59.9.59.09 0 .18-.01.26-.03.93-.23 1.89-.35 2.86-.35.52 0 .94-.36.94-.81 0-.45-.42-.81-.94-.81z')
                path(d='M948.75 1531.17a10.36 10.36 0 0 0-3.75 8.03c0 .44.34.8.77.8.42 0 .77-.36.77-.8a8.7 8.7 0 0 1 3.17-6.78.81.81 0 0 0 .12-1.12.76.76 0 0 0-1.08-.13z')
                path(d='M956.06 1529c-1.15 0-2.29.14-3.38.41-.5.12-.79.57-.64 1 .12.36.49.59.9.59.09 0 .18-.01.26-.03.93-.23 1.89-.35 2.86-.35.52 0 .94-.36.94-.81 0-.45-.42-.81-.94-.81z')
        h5.detail-info__item-title Instant payouts
        p.detail-info__item-text Blockchain technology completely wards off a possibility of market data alterations, retaining open access to the records, thereby, ensuring crystal clear system and equal conditions for everyone.