section.business-model
  .container
    h2.business-model__title.title-line Business model
    .row
      .col-lg-6.business-model__text
          p
            b="Betex "
            | is a leading-edge platform for P2P financial derivatives trading. Powered by Ethereum smart contracts, it brings undisputable transparency to the process, thereby, ultimately eliminating the issue of trust.
      .col-lg-6.business-model__text
          p We went with a radically new business model to disrupt ideological principles behind Binary Options through shifting user mindset from worrying about reliability of platform providers to focusing on own capacity to make profit.
    .payouts
      p.payouts__title Common liquidity pool
      .payouts__wrap
        img.payouts__left-img(src="img/home-page/payouts-left.svg")
        .payouts__circle
          span.payouts__circle-percent 95%
          span.payouts__circle-title Payouts
        img.payouts__right-img(src="img/home-page/payouts-right.png")
        .payouts__line
      .payouts__rest
        span 5%
      .payouts__rest-info
        .payouts__rest-item
          .payouts__rest-circle
            span 2.5
          p.payouts__rest-text Token Holders
        .payouts__rest-item
          .payouts__rest-circle
            span 1
          p.payouts__rest-text Brokers
        .payouts__rest-item
          .payouts__rest-circle
            span 0.5
          p.payouts__rest-text Development
        .payouts__rest-item
          .payouts__rest-circle
            span 0.5
          p.payouts__rest-text Refferrals
        .payouts__rest-item
          .payouts__rest-circle
            span 0.5
          p.payouts__rest-text Refferrals
    include 005-tokens-distribution
    include 006-roadmap