
section.tokens-distribution.animate
  .tokens-distribution__title-block.accordion-caption.open
    p.tokens-distribution__title-mob Betex tokens distribution
      i.tokens-distribution__title-mob-icon.dropdown-icon
      //svg.tokens-distribution__title-mob-icon(width="32px", height="32px")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#dropdown")

  .row.open
    .col-md-6.col-12.tokens-distribution__chart-wrap
      //#donutchart(style="width: 100%;")
      //div
      #donutchart.donutchart(style="height: 300px;")
    .col-md-6.col-12

      span.tokens-distribution__title-label Coming in 2018
      h4.tokens-distribution__title.animate.visible-up Betex tokens distribution

      ul.tokens-distribution__list.animate.visible-up
        li(data-index="0").tokens-distribution__list-item.blue
          b 5%
          span Token Pre-Sale Round 1
        li(data-index="1").tokens-distribution__list-item.red
          b 15%
          span Token Pre-Sale Round 2
        li(data-index="2").tokens-distribution__list-item.grey
          b 40%
          span Token Sale
        li(data-index="3").tokens-distribution__list-item.light-blue
          b 2%
          span Bounty
        li(data-index="4").tokens-distribution__list-item.yellow
          b 8%
          span Reserve
        li(data-index="5").tokens-distribution__list-item.orange
          b 30%
          span Founders & Team
      //ul.tokens-distribution__list.animate.visible-up
        li(data-index="0").tokens-distribution__list-item.blue
          b 60%
          span Taken Sale
        li(data-index="1").tokens-distribution__list-item.yellow
          b 2%
          span Bounty
        li(data-index="2").tokens-distribution__list-item.light-blue
          b 8%
          span Reserve
        li(data-index="3").tokens-distribution__list-item.red
          b 30%
          span Founders and Team
        //li(data-doughnut-index="30").tokens-distribution__list-item.grey
          b 30%
          div.locked
            span For founders and team are locked on smart contracts:
            ul.locked__list
              li.locked__list-item 5% for 6 Months
              li.locked__list-item 10% for 1,5 years
              li.locked__list-item 15% 3 years

