section.betex-mvp#mvp
  .container
    .row.betex-mvp__row
      .col-lg-4.betex-mvp__descript
        h2.title-line Betex MVP
          span.title-line__line
        .betex-mvp__text
          p We built two versions of the platform to actually demonstrate you the advantages of having a common pool of liquidity. Why trust our words if you can try them both, compare and see for yourself.
        .betex-mvp__links
          a.betex-mvp__link.active(href="http://www.gobet.io/", target="_blank", rel="nofollow", data-mon="go-bet") GoBet.io
          span or
          a.betex-mvp__link(href="http://www.betex.io/", target="_blank", rel="nofollow", data-mon="go-betex") Betex.io
      .col-lg-8.betex-mvp__img-wrap
        img.betex-mvp__img.go-bet.active(src="img/home-page/mac.png", alt="", data-img-mon="go-bet")
        img.betex-mvp__img.go-betex(src="img/home-page/mac1.png", alt="", data-img-mon="go-betex")