section.betex-mvp
  .container
    .row
      .col-lg-4.betex-mvp__descript
        h2.title-line Betex MVP
        .betex-mvp__text
          p We built two versions of the platform to actually demonstrate you the advantages of having a common pool of liquidity. Why trust our words if you can try them both, compare and see for yourself.
        .betex-mvp__links
          a.betex-mvp__link(href="http://www.gobet.io/", target="_blank", rel="nofollow") GoBet.io
          span or
          a.betex-mvp__link(href="http://www.betex.io/", target="_blank", rel="nofollow") Betex.io
      .col-lg-8.betex-mvp__img-wrap
        img.betex-mvp__img(src="img/home-page/mvp-pc.png", alt="")