section.betex-mvp#mvp
  .container
    .row.betex-mvp__row
      .col-lg-4.betex-mvp__descript
        h2.title-line Betex MVP
          span.title-line__line(data--20-bottom="width: 0px" data--200-bottom="width: 118px")
        .betex-mvp__text
          p We built two versions of the platform to provide you with a better understanding of the concept behind a common pool of liquidity and to demonstrate how it actually works.
        .betex-mvp__links
          span.betex-mvp__link.active(data-mon="go-bet") GoBet.io
          span or
          span.betex-mvp__link(data-mon="go-betex") Betex.io
      .col-lg-8.betex-mvp__img-wrap
        img.betex-mvp__img.go-bet.active(src="img/home-page/mac.png", alt="", data-img-mon="go-bet")
        img.betex-mvp__img.go-betex(src="img/home-page/mac1.png", alt="", data-img-mon="go-betex")