-
  var team = {
    'John Heart': 'Marketing advisor',
    'Nick Cave':'Marketing advisor',
    'Miranda Black':'Financial Advisor',
    'Bradly Cooper':'ICO advisor',
    'Justas Pikelis':'Product and Payments'
  },
  advisors  = {
    'John Heart':'Co-Founder/Business',
    'Nick Cave':'Co-Founder/Business',
    'Jeremy Black':'Co-Founder/Business',
    'Bradly Cooper':'Co-Founder/Business',
  },
  partners = [],
  count = 1;

section.team#team
  .container
    h3.team__title.title-line Our team
      span.title-line__line(data--20-bottom="width: 0px" data--200-bottom="width: 118px")
    .row.team__row
      each status, name in team
        .person
          .person__photo
            .person__photo-wrap
              img.person__photo-img(src="img/home-page/team-"+ count++ +".png", alt="team-person-" +count)
          h5.person__name=name
          p.person__status=status
          a(href="#", target="_blank", rel="nofollow").person__link
      -count = 1

    p.team__advisors-title Advisors
    .row.team__row
      each status, name in advisors
        .person
          .person__photo
            .person__photo-wrap
              img.person__photo-img(src="img/home-page/advisors-" + count++ + ".png", alt="advisors-person-" +count)
          h5.person__name=name
          p.person__status=status
          a(href="#", target="_blank", rel="nofollow").person__link
      -count = 1
    p.team__partner-title Partners
    .row.team__row
      each status, name in team
        .partner
          img.partner__logo(src="img/home-page/partners-"+ count++ +".png", alt="partner-" +count)
