//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
body {
	background: white;
	font-family: $Helvetica;
	color: $primary;
	font-weight: $weight-regular;
	overflow-x: hidden;
}

main{
	//overflow: hidden;
}

svg[width="0"][height="0"] {
	position: absolute;
}