//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
body {
	background: white;
	font-family: $Helvetica;
	color: $primary;
	font-weight: $weight-regular;
	overflow-x: hidden;
	&.menu-open,
	&.contribute-popup-open{
		//overflow: hidden;
		//position: fixed;
	}
}
.over-hidden{
	overflow: visible !important;
	width: auto;
	body{
		overflow: hidden !important;
	}
}

main{
	//overflow: hidden;
}

svg[width="0"][height="0"] {
	position: absolute;
}
.global-wrap{
	display: block;
	margin-top: 63px;
	@include mq(1024){
		margin-top: 83px;
	}
}


