//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
body {
	background: white;
	font-family: $Helvetica;
	color: $primary;
	font-weight: $weight-regular;
	overflow-x: hidden;
	&.menu-open,
	&.contribute-popup-open{
		//overflow: hidden;
		//position: fixed;
	}
}

main{
	//overflow: hidden;
}

svg[width="0"][height="0"] {
	position: absolute;
}
@media (max-width: 1023px) {
	.global-wrap{
		margin-top: 55px;
	}
}


